<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Parallel Testing Suite" parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="utility.TestNGListeners"/>
            <listener class-name="retrylogic.AnnotationTransformer"/>
    </listeners>
    <test name = "EndToEndAutomationAccordionPage">
        <classes>
            <class name = "testcases.AccordionPageFunctionTest" />
        </classes>
    </test>

    <test name="EndToEndAutomationContactFormPage">
        <classes>
            <class name="testcases.ContactFormPageTest">
            </class>
        </classes>
    </test>

    <test name="EndToEndAutomationSignInPageExcel">
    <classes>
        <class name="testcases.SignInTestUsingExcelFile">
        </class>
    </classes>
    </test>

    <test name="EndToEndAutomationSignInPageHashMap">
        <classes>
            <class name="testcases.SignInTestUsingHashMapDataProvider">
            </class>
        </classes>
    </test>

    <test name="EndToEndAutomationUploadPage">
        <classes>
            <class name="testcases.UpLoadPageTest">
            </class>
        </classes>
    </test>

</suite>
